# {{.ProjectName}} Documentation

This directory contains documentation for the {{.ProjectName}} project.

## Contents

- [Architecture](./architecture.md) - System architecture overview (TODO)
- [API](./api.md) - API documentation (TODO)
- [Development](./development.md) - Development guide (TODO)
